// @import "./sass/variables";
$primary-color : #242526;
$secondary-color : #fff;
$sabodinate-color : #505466;
$text-color: #555;
$secodary-text-color: #cecece;



@mixin flexItems($justify){
    display: flex;
    align-items: center;
    justify-content: $justify;
}

.header__main{
    @include flexItems(space-between);
    gap: 10px;
    margin: 5px;
    padding: 5px;
    // background: $secondary-color;
    
  
  
}
.home_btn > a{
    text-decoration: none;
    // color: #333;
    color: inherit;
    font-weight: bolder;
    font-size: 30px;
}

.menu{
     
    &__trigger{
        font-weight: bolder;
        font-size: 3rem;
        // color: inherit;
        cursor: pointer;
      
    }

    &__dropdown{
        position: absolute;
        top: 100px;
        right: 20px;
        background-color: $text-color;
        padding: 10px 20px;
        width: 150px;
        border-radius: 1.3rem;
        z-index: 1;
        

        &::before{
            position: absolute;
            top: 100px;
            right: 20px;
            background-color: #9a5151;
            padding: 10px 20px;
            width: 200px;
            z-index: 99;
            transform: rotate(45deg);
            
        }
        &.active{
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            transition: 500ms ease;
        }
        &.inactive{
            opacity: 1;
            visibility: hidden;
            transform: translateY(-20px);
            transition: 500ms ease;
        }
        &.list{
            background: #000;
        }

        &>ul{
            list-style: none;
            padding-left: 0;
        }
        &>ul>a>li{
            border-top: 1px solid rgba(52, 48, 41, 0.867);
             align-items: start;
        }
        &>ul>a{
            color: $text-color;
            text-decoration: none;
            color: $secondary-color;
        }
        &>ul>a>li:hover{
            color: #dd5f43e3;
            cursor: pointer;
        }
    }

    &__item > div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        &.icons{
             background: #eee;
        }
    }

    &__item > div >div{
        max-width: 20px;
        margin-right: 10px;
        margin-top: 10px;
        opacity: 0.5;
        // transition: speed
    }

    &__item > div  > a{
        max-width: 100px;
        margin-left: 10px;
        // transition: speed
        color: $text-color;
        text-decoration: none;
    }
}
// h3{
//     width: 100%;
//     text-align: center;
//     font-size: 20px;
//     font-weight: 500;
//     font-size: 18px;
//     color: initial;
//     line-height: 1.7rem;
   
// }



.search{
    @include flexItems(center);
    background: $secondary-color;
    border-radius: 20px;
    margin: 20px 0;
    padding: .4rem;
    position: relative;
    
    &__input{
        background: #fff;
        padding: 1.4rem;
        border: none;
        width: 100%;
        font-size: 1.2rem;
        border-radius: 20px;
    
        &::placeholder{
            font-size: 1.3rem;
            font-weight: 600;
        }
    }
    // &__icon{
    //     font-weight: 900;
    //     font-size: 2rem;
    //     color: $text-color;
    //     position: absolute;
    //     right: 10px;
    // }
}

.nav{
    @include flexItems(space-between);
    gap: 10px;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
   
    color: inherit;
    
    

    &__element > a:link{
            text-decoration: none;
            color: inherit;
    }
}

.home_btn , .center,  .menu__trigger{
    color: #1e98daa4;
}
