// @import "./sass/variables";
$primary-color : #242526;
$secondary-color : #fff;
$sabodinate-color : #505466;
$text-color: #555;
$secodary-text-color:  #a7bdc8f1;


.dark{
    background-color: #333;
    color: #fff;
  }
  .light{ 
    background-color: #c7d4daf1;
    color: #333;
  }
.task{
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: center;
    height: 10%;
    width: 87%;
    gap: 10px;
    margin: 1rem;
    margin-right: 0;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #a7bdc8f1;
    background: $secodary-text-color;
    cursor: move;

    &:hover{
       
        transition: all 0.5s ease-in-out;

    }
   
}


.task__event{
    // background: yellow;
    padding: 5px 10px;
    color: $text-color;

    overflow: hidden;
    text-overflow: ellipsis;
    

    & > p{
        margin-bottom: 0;
        font-weight: 700;
        font-size: 1.1rem;
    }

    & > a{
        font-size: large;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        color: inherit;
    }
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;

    &>button{
        background: none;
        color: inherit;
    }
}
.icon{
    font-size: 25px;
    cursor: pointer;
    color: $sabodinate-color;
    padding: 0;
    border: none;

    &__edit > a{
        background: none;
        color: inherit;
    }
    
}

.checked{
    color: $primary-color;
    text-decoration: line-through;
    transition: all .2s ease-in-out;
}






.btn_clearAll{
    width: 20vw;
    padding: .5rem;
    border-radius: .7rem;
    border: 1px solid #dd5f43e3;
    box-shadow: 2px 2px 2px  #463937e3;
    color: #ddd;
    font-weight: 600;
    font-size: 1rem;
    background-color: #dd5f43e3;
    cursor: pointer;
    transition: all 500ms ease-in-out;

    &:hover{
        color: #555;
        box-shadow: none;
        padding: 0.6rem;
    }
}

.buttonNavigation{
    display: flex;
    justify-content: space-between;
   align-items: baseline;
    width: 87%;
    margin: 1rem;
    padding: 1rem 0;

    & > div{
        box-sizing: border-box;
        font-size: x-large;
        background:#1e98daa4 ;
        color: #333;
        border-radius: 2px;
        padding: .1rem;
        cursor: pointer;

        &:hover{
           color: #dd5f43e3;
           background:#0f71a6a4 ;
        }
    }
}

//FFOR SMALLER SCREENS
@media screen and (max-width: 480px) {
    .buttonNavigation{
          
        & > div{
            box-sizing: border-box;
            margin-right: 1.5rem;
            font-size: x-large;
            // background:#1e98daa4 ;
            
            border-radius: 2px;
            padding: .1rem;
            cursor: pointer;
    
            &:hover{
               color: #dd5f43e3;
               background:#0f71a6a4 ;
            }
        }}

        .btn_clearAll{
            width: 30vw;
        }
}